# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/dist
/tests/workaround/test_files/encoded
/tests/workaround/test_files_str/encoded
/tests/workaround/huffman_tree_tests
/tests/workaround/huffman_zipper_tests
